html {
    margin: 0;
  }

.container{
    width: 300px;
    border: 2px solid black;
    text-align: center;
}

button{
    height: 40px;
    width: 150px;
    text-align: center;
    border: solid black 2px;
    margin-left: 90px; ;
}

#results {
    font-size: 15px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(29, 25, 25);
  }
